{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
